.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: --weighth-normal;
  color: var(--black-opasiti-08);
  background-color: var(--color-backdrop);
  padding-block: 100px;
}
