.transaction_history {
  border-collapse: collapse;
}

.thead {
  font-size: 0.8em;
  color: var(--color-background);
  background-color: rgba(90, 159, 182, 0.764);
  text-transform: uppercase;
}
.tbody {
  font-size: 0.8em;
  color: var(--black-opasiti-03);
}
.transaction_history th,
.transaction_history td {
  border: 1px solid grey;
  width: calc(70vw / 3);
  text-align: center;
  padding-block: 16px;
}

.transition:nth-child(odd) {
  background-color: var(--color-background);
}
.transition:nth-child(even) {
  background-color: var(--color-background-noar);
}
